 <p id="notice"><%= notice %></p>

<h1>All Restaurants</h1>


<div class="restaurants">
    <% @restaurants.each do |restaurant| %>
      
        <p><%= restaurant.name %><br>
        <%= restaurant.address %><br>
        <%= restaurant.spicy %><br>
        <%= restaurant.cost %><br>
        <%= restaurant.vegetarian %></p>
 </div>

  <div class="Footer">
        <%= link_to 'Show', restaurant %>
        <%= link_to 'Edit', edit_restaurant_path(restaurant) %><br>
        <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %><br>
  </div>
    <% end %>


<%= link_to 'Add a new restaurant', new_restaurant_path %>
