 <p id="notice"><%= notice %></p>

<h1 class="rest_text"><strong>All Restaurants</strong></h1>


<div class="main_list">
    <% @restaurants.each do |restaurant| %>
    <div class="indiv_restaurant">
        <strong>Restaurant:</strong></br>
        <p><stong><%= restaurant.name %></stron><br>
       <strong>Address:</strong><br>
        <%= restaurant.address %><br>
        <strong>Spice Level:</strong><br>
        <%= restaurant.spicy %><br>
        <strong>Cost:</strong>
        <%= restaurant.cost %><br>
        <strong>Vegetarian Friendly?</strong>
        <%= restaurant.vegetarian %><br>
        <%= link_to 'Show', restaurant %></p>
    </div>
    <% end %>
</div>
    


<p class="rest_text"><%= link_to 'Add a new restaurant', new_restaurant_path %></p>
