 <p id="notice"><%= notice %></p>

<h1><strong>All Restaurants</strong></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Spicy</th>
      <th>Cost</th>
      <th>Dietary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.spicy %></td>
        <td><%= restaurant.cost %></td>
        <td><%= restaurant.vegetarian %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <!-- <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new restaurant', new_restaurant_path %>
