 <p id="notice"><%= notice %></p>

<h1><strong>All Restaurants</strong></h1>


<div class="master_list">
    <div class="individual_restaurant">
    <% @restaurants.each do |restaurant| %>
        <div class="individual_restaurant">
            <br><h3>Restaurant:</h1><b3>
            <h1><%= restaurant.name %></h1>
           <h3>Address:</h3>
            <h4><%= restaurant.address %></h4>
            <h3>Spice Level:</strong><h3>
            <h4><%= restaurant.spicy %></h4>
            <strong>Cost:</strong>
            <%= restaurant.cost %><br>
            <strong>Vegetarian Friendly?</strong>
            <%= restaurant.vegetarian %><br>
            <%= link_to 'Show', restaurant %>
        </div>
</div>
        <!-- <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>


<%= link_to 'Add a new restaurant', new_restaurant_path %>
