<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!-- <p>
  <strong>Crypted password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p> -->

<p>
	<strong>Spiciness Preference</strong>
	<%= @user.spicy %>
</p>
<p>
	<strong>Vegetarian?</strong>
	<% if @user.vegetarian == 'vegetarian' %>
		Yes
	<% else %>
		No
	<% end %>
</p>

<%#= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Taco Places', :restaurants %>
