
 <p id="notice"><%= notice %></p>

<h1 class="rest_text"><strong>All Taco Joints</strong></h1>


<div class="main_list">

    <% #@restaurant = Restaurant.where(vegetarian: 'No') %>
    <% @restaurants.each do |restaurant| %>
        <div class="indiv_restaurant">
            <br><h3><strong>Name:</h3>
            <h1><%= restaurant.name %></h1>
            <p>Address:<p>
            <h3><%= restaurant.address %><br></h3>
            <p>Spice Level:</p>
            <h3><%= restaurant.spicy %></h3>
            <strong>Cost:</strong>
            <%= restaurant.cost.titleize %><br>
            <strong>Vegetarian Friendly?</strong>
            <%= restaurant.vegetarian.to_s %><br>
            <%= link_to 'Show', restaurant %></p>
        </div>
    <% end %>

</div>
    


<p class="rest_text"><%= link_to 'Add a new restaurant', new_restaurant_path %></p>
