<head>
<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= some_like_it_hot(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
<!-- <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container"> -->
<!--     <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Register",   '#' %></li>
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </nav> -->
<!--   </div> -->
<!-- </header> -->



<%= yield %>

</body>
</html>